*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	overflow: hidden;
}

 header nav{
  box-sizing: content-box;
  color: #000;
  position: relative;
}
header section img{
  margin-left: 40%;
}
header section i{
  float: right;
  margin-top: 1%;
  margin-right: 3%;
}
.sedes ul{
	background-color:#e1e1e1;
}
.sedes li{
	border:3em;
	padding: 3em;
	text-transform: uppercase;
	display: inline-block;
}
.sedes li li a{
	border:3em;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
}
.sedes .itemList li{
	display: block;
	padding: 1em 1em;
	text-decoration: none;
	text-transform: uppercase;
}
#hideCDMX, #hideLima, #hideArequipa, #hideSantiago{
	margin-left: 15em;
	margin-top: -3em;
	position: absolute;
	background-color: #e1e1e1;
}
/*
.sedes li:hover{
	background-color:rgba(0,0,0,3);
	cursor: pointer;
}*/
.itemList, .hide{
  display: none;
}
.show{
  display: inline-block;
}
li{
  cursor: pointer;
}
.hamburger{
	background-color:#000;
	display: inline-block;
	position: absolute;
	top:0px;
	right: 0;
	color:#fff;
	overflow: hidden;
	height: 1000px;

}
.hamburger ul{
	cursor: pointer;
	display: inline-block;
	margin:1em;
	margin-right: 0;
	text-align: center;

}

.hamburger li{
	padding: 3em;
	text-transform:uppercase;
	list-style: none;
}
.hamburger .fa {
	cursor: pointer;
	color: white;
	float: right;
	margin: 10px 5px 5px ;
}
img{
	width: 7em;
	border:2px solid white;
	border-radius: 2%;
	margin-bottom: 0;

}
/*AQui empiezan las clases de la seccion estudiante*/

.profile{
	text-align: center;
	margin:1em;
	margin-top :2em;
	overflow: hidden;

}
/* arreglar esto para que la flecha suba o sacar la flecha */
.profile span{
	padding:0;
	margin: 0;
	vertical-align: middle;
}

.aside{

    margin: 2em;
    margin-right: 0px;
    width: 25%;
    text-align: left;
    float: left;
    outline: 2px solid aquamarine;
}
.fa-search{
	margin-left:10px;
	vertical-align: middle;
}
.students{
	width: 65%;
    float: right;
    outline: 2px solid aquamarine;
    margin:2em;
    margin-left:0;
}
.students input{
	border: none ;
	padding:1em;
	margin-bottom: 1em;
}
.students span, .students img  {
	float: left;
	padding:.5em;
	text-align: center
}
.see li {

	position: relative;
	list-style: none;
}
/*AQui  termina empiezan las clases de la seccion estudiante*/

/*AQui empiezan las clases de la seccion overview */
.overview{
	width: 100%;
	margin:2em;
	text-align: center
}
.overview div{
	 outline: 2px solid aquamarine;
	 width: 30%;
	 padding: 1em;
	 margin: 1em;
	 float: left;

}
.overview span{

	float: left;
	padding:.5em;
	text-align: center
}
.overview img{
	width: auto;
}
